body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #222;
  color: white;
}

#mural {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.postit {
  aspect-ratio: 1 / 1; /* quadrado perfeito */
  background: #fffa91;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.postit:hover {
  transform: scale(1.05);
}

.postit h3 {
  margin: 0 0 8px 0;
  font-size: 16px;
}

.postit p {
  font-size: 14px;
  color: #333;
}

/* Modal */
#modal {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.hidden {
  display: none !important;
}

.menu-config {
  position: absolute;
  top: 60px;
  right: 15px;
  background: rgb(80, 75, 75);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 1000;
}

.menu-config button {
  background: none;
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

.menu-config button:hover {
  background: #cce0cd;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nota-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #222;
  color: white;
}

.nota-header button {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

#tituloInput {
  font-size: 22px;
  border: none;
  outline: none;
  padding: 15px;
  font-weight: bold;
}

#conteudoInput {
  flex: 1;
  border: none;
  outline: none;
  resize: none;
  padding: 28px 20px 20px 20px;
  font-size: 18px;
  line-height: 30px;

  /* linhas de caderno */
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 27px,
    #ddd 28px
  );
    background-size: 100% 30px;
};

